name: Go CI/CD

on:
  push:
    tags:
      - 'v[0-9]*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.9

      - name: Install dependencies
        run: go get -u github.com/laher/goxc

      - name: Build for macOS
        run: goxc -d=dist -bc=darwin -tasks=clean-destination,xc,archive,rmbin

      - name: Archive build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-artifacts

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: dist/**/*.{tar.gz,zip}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: startsWith(github.ref, 'refs/tags/v')
